.mainScrean {
  padding: 30px;

  .mainScreanCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .card {
      border: 2px solid;
      margin: 24px;

      .cardImg {
        display: grid;
        justify-content: end;
        margin: 10px;

        img {
          width: 123px;
          height: 100px;
        }
      }

      .cardTitle {
        margin: 10px;
        display: grid;
        justify-content: start;
      }

      .cardList {
        margin: 30px;
        display: grid;
        justify-content: start;

        ul {
          padding: 0;
        }

        li {
          margin: 5px 0;
        }
      }
    }

    .cardLink {
      display: grid;
      justify-content: end;
      margin: 20px;

      a {
        display: inline-block;
        margin-top: 10px;
        color: black;
      }
    }
  }
}